
.bottom{           
    grid-row:3;
    background-image:url("../img/Bottom_background.svg");
}

.background{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-image:url("../img/background.svg");
    background-image:url("../img/background_v2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.content{
    display:grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;  
    grid-template-rows: 85fr 10fr 5fr;  
    width:70vw;
    max-width:70vw;
    height:80vh;
    max-height:80vh;
    margin-left:15vw;
    margin-top:5vh;
    overflow:hidden;

    @media all  and (max-width: $breakpoint-lg) {     
        grid-template-columns: 1.5fr 1fr 1fr;   
        margin-left:20vw;         
    }

    @media all and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {                          
        margin-left:15vw;
    }

    @media all and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {                          
        width:80vw;
        max-width:80vw;
    }

    &__intro{
        grid-column: 1;
        grid-row:1;
        max-height:70vh;
        text-align: left;

        &__title{

            @media all and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {                          
                font-size: $font-size-3;
            }

            @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {                          
                font-size: $font-size-4;
            }

            @media all and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xxl) {                          
                font-size: $font-size-6;
            }

            span{
              color:  $font-color-secondary;
            }
        }

        &__text{
            width:75%;
            margin-top: -5vh;

            @media all and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {                          
                font-size: $font-size--2;
            }

            @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {                          
                margin-top: -3vh;
                font-size: $font-size--1;
            }

            @media all and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {                          
                font-size: $font-size-0;
            }

            span{
              color:  $font-color-tertiary;
            }
        }
    }

    &__cta{
        grid-row:2;
        display:flex;
        justify-content: center;
        grid-column: 3;
        text-align: center;
        background-color: $font-color-secondary;
        border-radius: 50px;
        z-index: 1;

        @media all and (max-width: $breakpoint-md) {                          
            grid-column: 1;
        }

        @media all and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {                          
            grid-column: 3;         
            width:80%;
            margin:0% 10%;
        }

        @media all and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xxl) {                          
            grid-column: 4;
        }

        span{
            color:  $font-color-tertiary;
         }

        &:hover{
            animation: background-color-tertiary 1s;
            animation-fill-mode: forwards;

            .content__cta__dot{
                animation: move-left 1s, opacity-down 1s, scale-times-100 1s;
                animation-fill-mode: forwards;
                // height: 15px;
                // width: 15px;
                // background-size: 15px 15px; 
            }
        }
        h3{
            display: flex;
            flex-direction: column;
        }
        &__dot{
            align-self: flex-end;
            height: 5px;
            width: 5px;
            margin-right: -4%;
            background-image: url("../img/dot_small.svg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: 5px 5px; 
            // &:hover{
            //     //background-color: $font-color-tertiary;
            //     align-self: flex-start;
            //     height: 15px;
            //     width: 15px;
            //     background-size: 15px 15px; 
            // }
        }
    }

    &__characters{
        position:absolute;

        figure{
            width:25vw;
            height:25vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__laptop{
            background-image:url("../img/Question-mark_illustration_laptop.svg");
        }
        &__mobile{
            background-image:url("../img/Question-mark_illustration_phone.svg");
            transform: rotate(45deg);
        }
    }

}