
.bottom{           
    grid-row:3;
    background-image:url("../img/Bottom_background.svg");
}

.background{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-image:url("../img/background.png");
    background-image:url("../img/background_v2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    display:grid;
    grid-template-columns: repeat(6, 1fr);  
    width:70vw;
    max-width:70vw;
    height:80vh;
    max-height:80vh;
    margin-left:15vw;
    margin-top:10vh;


    &__intro{
        grid-column: 1 / 3;
        text-align: left;

        &__title{
            //@include text-crop;
            span{
              color:  $font-color-secondary;
            }
        }

        &__text{
            width:50%;
            margin-top: -5vh;
           // @include text-crop;
            span{
              color:  $font-color-tertiary;
            }
        }
    }

    &__cta{
        display:flex;
        justify-content: center;
        align-self:flex-end;
        justify-self: center;
        grid-column: 4 / 6;
        padding: 0 3rem;
        text-align: center;
        background-color: $font-color-secondary;
        border-radius: 50px;
        @include text-crop;
        span{
            color:  $font-color-tertiary;
          }
    }

    &__characters{
        position:absolute;

        figure{
            width:25vw;
            height:25vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__laptop{
            background-image:url("../img/Question-mark_illustration_laptop.svg");
        }
        &__mobile{
            background-image:url("../img/Question-mark_illustration_phone.svg");
            transform: rotate(45deg);
        }
    }

}