
.bottom{           
    grid-row:3;
    background-image:url("../img/Bottom_background.svg");
}

.background{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background-image:url("../img/background.png");
    background-image:url("../img/background_v2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.content{
    display:grid;
    grid-template-columns: repeat(6, 1fr);  
    width:70vw;
    max-width:70vw;
    height:80vh;
    max-height:80vh;
    margin-left:15vw;
    margin-top:10vh;


    &__intro{
        grid-column: 1 / 3;
        text-align: left;

        &__title{
            //@include text-crop;
            span{
              color:  $font-color-secondary;
            }
        }

        &__text{
            width:50%;
            margin-top: -5vh;
           // @include text-crop;
            span{
              color:  $font-color-tertiary;
            }
        }
    }

    &__cta{
        display:flex;
        justify-content: center;
        align-self:flex-end;
        justify-self: center;
        grid-column: 4 / 6;
        margin-bottom:10vh;
        padding: 0 3rem;
        text-align: center;
        background-color: $font-color-secondary;
        border-radius: 50px;
        z-index: 1;
        span{
            color:  $font-color-tertiary;
         }

        &:hover{
            animation: background-color-tertiary 1s;
            animation-fill-mode: forwards;

            .content__cta__dot{
                animation: move-left 1s, opacity-down 1s, scale-times-100 1s;
                animation-fill-mode: forwards;
                // height: 15px;
                // width: 15px;
                // background-size: 15px 15px; 
            }
        }
        h3{
            display: flex;
            flex-direction: column;
        }
        &__dot{
            align-self: flex-end;
            height: 5px;
            width: 5px;
            margin-right: -4%;
            background-image: url("../img/dot_small.svg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: 5px 5px; 
            // &:hover{
            //     //background-color: $font-color-tertiary;
            //     align-self: flex-start;
            //     height: 15px;
            //     width: 15px;
            //     background-size: 15px 15px; 
            // }
        }
    }

    &__characters{
        position:absolute;

        figure{
            width:25vw;
            height:25vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__laptop{
            background-image:url("../img/Question-mark_illustration_laptop.svg");
        }
        &__mobile{
            background-image:url("../img/Question-mark_illustration_phone.svg");
            transform: rotate(45deg);
        }
    }

}